<div class="subject-index">
  <div class="row subject-row">
    <% @subjects.each do |subject| %>
      <%= link_to(subject) do %>
      <div class="col-md-4">
        <div class="compbook">
          <%= image_tag("koiosnotebook.png", class: "img-responsive") %>
          <div class="centered">
            <h2><%= subject.name %></h2>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
    
  </div>
  <h2>New Notebook  <%= link_to "", new_subject_path, class: 'btn btn-default btn-lg glyphicon glyphicon-plus' %></h2>
</div>
