<div class="subject-index">
  <div class="row subject-row">
    <% @subjects.each do |subject| %>
      <%= link_to(subject) do %>
      <div class="col-md-6">
        <div class="compbook">
          <%= image_tag("koiosnotebook.png", class: "img-fluid") %>
          <div class="centered">
            <h1><%= subject.name %></h1>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <h2>Add Subjects  <%= link_to "", new_subject_path, class: 'btn btn-default btn-lg glyphicon glyphicon-plus' %></h2>
</div>
