<div class="subject-index">
  <div class="row">
    <div class="col-md-8">
      <h1>Subjects  <%= link_to "", new_subject_path, class: 'btn btn-default btn-lg glyphicon glyphicon-plus' %></h1>
    </div>
  </div>
  <% @subjects.each do |subject| %>
    <div class="row subject-buttons">
      <div class="col-12">
        <%=link_to "", subjects_path, class: "btn btn-info btn-lg glyphicon glyphicon-education" %>
        <%= link_to subject.name, subject, class: "btn btn-primary btn-lg" %>
        <%=link_to "", new_subject_topic_path(subject.id), class: "btn btn-info btn-lg glyphicon glyphicon-pencil" %>
      </div>
    </div>    
  <% end %>
</div>
