/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Bevan"; 
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  padding: 5px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.jumbotron {
  text-align: center;
  margin: 2.5%;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: black;
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
}

.subject-index {
  text-align: center;
}

.subject-buttons {
  margin: 10px;
  height: 50px;
}

.btn {
  margin: 5px;
}

.compbook {
  margin: auto 0;
  position: relative;
  text-align: center;
  font-family: 'Bevan', cursive;
  color: black;
}

.compbook img {
  margin: auto 0;
  padding: 5px;
  background: white;
  border-radius: 25px;
}

.centered {
  position: absolute;
  top: 48.5%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.subject-show {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.subject-show  {
  text-decoration: none;
}

.topics:hover {
  background-color: #dee1e5;
}

.topics {
  color: black;
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
}

.topic-show {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.topic-show > .notes {
  text-decoration: none;
}

.notes:hover {
  background-color: #dee1e5;
}

.notes {
  color: black;
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
}

.note-show {
  font-weight: medium; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
}

.form-submit {
  font-weight: medium; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid;
}

.form-group {
  padding: 5px;
}

.note-pills { 
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid; 
}

.nav-pills > li > a { 
  border-radius: 25px;
}
.scrollit {
  margin-top: 10px;
  height: 77vh;
  overflow-y:scroll;  
}

.review-notes {
  padding: 10px;
  border-radius: 25px;
  border-left: 2px black solid;
  border-bottom: 2px black solid; 
}

.review-show {
  font-weight: medium; 
  font-family: 'Roboto', sans-serif;
}  