/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "https://fonts.googleapis.com/css?family=Bevan"; 
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  padding: 5px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.jumbotron {
  text-align: center;
  margin: 2.5%;
}

.subject-index {
  text-align: center;
}

.subject-buttons {
  margin: 10px;
  height: 50px;
}

.btn {
  margin: 5px;
}

.compbook {
  margin: auto 0;
  position: relative;
  text-align: center;
  font-family: 'Bevan', cursive;
  color: black;
  
}
.compbook img {
  margin: auto 0;
  padding: 5px;
  background: white;
  border-radius: 25px;
}

.centered {
  position: absolute;
  top: 48.5%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.topic-show {
  margin: auto;
  text-align: center;
}

.topic-show > .notes {
  text-decoration: none;
}

.notes {
  color: black;
  border-radius: 25px;
}
